.header {
    background: LightSkyBlue;
    grid-area: header;
    box-sizing: border-box;
      }

  .hero {
    background: lightskyblue;
    grid-area: hero;
    box-sizing: border-box;
  }

  .body {
    background: lightskyblue;
    grid-area: body;
    box-sizing: border-box;
  }

  .advert {
    background: rgb(195, 182, 255);
    grid-area: advert;
    box-sizing: border-box;
    display: none;

  }
  .sidebar {
    background: lightskyblue;
    grid-area: sidebar;
    box-sizing: border-box;
    display: none;
  }
  .footer {
  background: lightskyblue;
    grid-area: footer;
    box-sizing: border-box;

  }
  .container {
    font-size: 1.5em;
    box-sizing: border-box;
    min-height: 300px;
    height: 100vh;
    width: 100%;
    background: rgb(68, 65, 214);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
    grid-template-areas:
      "header"
      "header"
      "header"
      "hero"
      "hero"
      "body"
      "body"
      "body"
      "body"
      "body"
      "body"
      "footer";
  }

  @media (min-width:576px){
    .sidebar{display: block;}
    .container{
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 5fr 2fr 1fr ;
    grid-gap: 10px;
    grid-template-areas:
      "header"
      "hero"
      "body"
      "sidebar"
      "footer";
    }
  }

  @media (min-width: 992px){
    .advert{display: block;}
    .sidebar{ display: block;}
    .container{
    height: 100vh;
    grid-template-columns: 9fr 3fr;
    grid-template-rows: 2fr 3fr 6fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
    "header header"
    "hero advert "
    "body sidebar"
    "footer footer";
    }
  }