
/*Pirmā līmeņa bērni*/
.header {
    grid-area: header;
    box-sizing: border-box;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "brand brand"
    "nav tools";
      }

  .hero {
    grid-area: hero;
    box-sizing: border-box;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "hero2"
    "hero2";
  }

  .body {
    grid-area: body;
    box-sizing: border-box;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
    "artfea"
    "inadv"
    "artlist"
  }

  .advert {
    background: rgb(226, 206, 206);
    grid-area: advert;
    box-sizing: border-box;
    border-radius: 10px;
    display: none;
    background-image: url(/zabaki.jpg);
  }

  .sidebar {
    background:rgb(226, 206, 206);
    grid-area: sidebar;
    box-sizing: border-box;
    border-radius: 10px;
    display: none;
  }

  .footer {
    background: rgb(226, 206, 206);
    grid-area: footer;
    box-sizing: border-box;
    border-radius: 10px;
    display: grid;

  }
  /* Otrā līmeņa bērni */
  .brand {
    background-color: rgb(226, 206, 206);
    grid-area: brand;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
  }
  .nav {
    background-color: rgb(226, 206, 206);
    grid-area: nav;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .tools{
    background-color: rgb(226, 206, 206);
    grid-area: tools;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .hero-feature{
    background-color: rgb(226, 206, 206);
    grid-area: hero1;
    box-sizing: border-box;
    display: none;
    border-radius: 10px;
  }
  .hero-call-to-action{
    background-color: rgb(226, 206, 206);
    grid-area: hero2;
    box-sizing: border-box;
    border-radius: 10px;

  }
  .article-features{
    background-color: rgb(226, 206, 206);
    grid-area: artfea;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .inner-advert{
    background-color: rgb(226, 206, 206);
    grid-area: inadv;
    box-sizing: border-box;
    border-radius: 10px;
    background-image: url(/zabaki.jpg);
  }
  .article-listing{
    background-color: rgb(226, 206, 206);
    grid-area: artlist;
    box-sizing: border-box;
    border-radius: 10px;
  }


  /*konteineri dažādiem ekrāna izmēriem*/

  .container {
    font-size: 1.5em;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr 6fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
      "header"
      "hero"
      "body"
      "footer";
  }

  @media (min-width:576px){
    .sidebar{display: block;}
    .container{
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 5fr 2fr 1fr ;
    grid-gap: 10px;
    grid-template-areas:
      "header"
      "hero"
      "body"
      "sidebar"
      "footer";
    }
    .hero-feature{
      display: block;
    }
        .header{
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "brand nav tools";
        }
        .hero{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "hero1"
        "hero2";
        }
        .body{
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 2fr 4fr;
        grid-template-areas:
        "artfea inadv"
        "artlist artlist";
        }

  }

  @media (min-width: 992px){
    .advert{display: block;}
    .sidebar{ display: block;}
    .inner-advert{display: none;}
    .container{
    height: 100vh;
    grid-template-columns: 9fr 3fr;
    grid-template-rows: 2fr 3fr 6fr 1fr;
    grid-gap: 5px;
    grid-template-areas:
    "header header"
    "hero advert "
    "body sidebar"
    "footer footer";
    }
      .header{
        grid-template-columns: 2fr 7fr 3fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "brand nav tools";
      }
      .hero{
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "hero1 hero2";
      }
      .body{
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "artfea artlist";
      }
  }